/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* END RESET CSS */
.topbar {
  background-color: #000;
  height: 40px;
  padding-top: .5em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  overflow: visible;
  font-family: 'Shadows Into Light', cursive;
}
.topbar a {
  color: #bfbfbf;
  text-decoration: none;
}
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
.topbar h3 {
  margin-top: 8px;
}
.topbar h3 a, .topbar .brand {
  float: left;
  display: block;
  padding: 0px 8px 20px 12px;
  margin-left: -60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}
.topbar p {
  margin: 0;
  line-height: 40px;
}
.topbar p a:hover {
  background-color: transparent;
  color: #ffffff;
}
.topbar > ul, .nav {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}
.topbar > ul > li, .nav > li {
  display: block;
  float: left;
}
.topbar > ul a, .nav a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
.topbar > ul a:hover, .nav a:hover {
  color: #ffffff;
  text-decoration: none;
}
.topbar > ul .active > a, .nav .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}
html {
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #fff;
  font-size: 105%;
}
h1,
h2,
h3,
h4 {
  margin-top: 1.25em;
  margin-bottom: 0.25em;
}
h1 {
  font-size: 300%;
  font-family: 'Shadows Into Light', cursive;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%;
}
#content {
  padding: 1em;
}
#header {
  margin: 0;
  padding: 0;
  padding-top: .25em;
  height: 200px;
  background-color: #000566;
  background-image: linear-gradient(top, #000000 30%, #000566 65%);
  background-image: -o-linear-gradient(top, #000000 30%, #000566 65%);
  background-image: -moz-linear-gradient(top, #000000 30%, #000566 65%);
  background-image: -webkit-linear-gradient(top, #000000 30%, #000566 65%);
  background-image: -ms-linear-gradient(top, #000000 30%, #000566 65%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #000000), color-stop(0.65, #000566));
  border-bottom: 3px solid black;
}
#header h1 {
  color: #ccc;
  margin-top: 120px;
}
#title {
  padding: 1em;
  height: 100%;
}
.container {
  max-width: 640px;
  margin: 0 auto;
}
