.trumpet {
  position: absolute;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: -1;
  font-family: Helvetica Neue, Helvetica, san-serif;
  font-size: 22px;
  top: -55px;
  left: 0;
  width: 100%;
  color: "+colortext+";
  padding: 12px 5px;
  text-align: center;
  background-color: "+colorbackground+";
  -moz-box-shadow:  1px 1px 2px 3px #999;
  -webkit-box-shadow: 1px 1px 2px 3px #999;
  box-shadow:         1px 1px 2px 3px #999;
}
.trumpet a{
 color: "+colorlink+";
}
#trumpet_logo{
  position: absolute;
  left: 10px;
  height: 20px;
  width: 65px;
  background: url('../images/trumpet_logo_transparent.png') top left no-repeat;
}
#trumpet_close{
	position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 10px;
}

.trumpet.trumpet-animate{
  z-index: 100000;
  top: 0px;
}
