#current { margin-top: 10px; font-size: 11px; line-height: 12px; color: #777; }
#time { font-size: 9px; line-height: 12px; color: #777; }
iframe{position: fixed; top:0; right:0; background: white; border: solid 1px #ccc;}
dt { font-size: 10px; line-height: 12px; color: #777; font-style: italic;}
dd { font-size: 12px; line-height: 22px; color: #777; }
.dateSeparator{margin-top: 15px;}
.currentPlaylistItem{font-weight: bold;}
footer{ font-size: 10px; line-height: 22px; color: #777; margin-top: 10px; border-top:1px solid #CCC;}
#playpause{width: 60px;}
#userinfo h2,
#station-container h2,
#signup-sign h2{font-size: 18px;}
#signup-sign ul{padding-left: 20px;}
#signup-sign li{list-style-type: square;}
#logout{display:none; width: 60px;position:fixed; top:0; right:0;}
#login{width: 60px;position:fixed; top:0; right:0;}
#userinfo{display:none;}
#feeds{display:none;}
#userPlaylistEditTab h3{font-size: 15px;}