<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<link rel="stylesheet" href="/static/dashboard.css">


<header>
</header>
<section>
    <form id="addmessage-form" class="form-stacked">
        <input id="message-text" placeholder="{{message_text}}" name="message" type="text" />
        <button id="preview" type="submit" class="btn primary">Preview</button>
        <button id="send" type="submit" class="btn primary">Send message</button>
        <span id="message">Loading...</span>
    </form>
    
    <p>
    Type your message and click send, and your message will appear on your site. 
    </p>
</section>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>    
<script src="/static/dashboard.js"></script>