<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>tunr</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/app.css">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
	
</head>
<body>
	<header>
        <h1 id="logo">tunr</h1>
        <input type="button" value="Login" id="login"> 
        <input type="button" value="Logout" id="logout"> 
        <input id="loggedinuser" type="hidden" value="{{user}}" />
        <input id="login_url" type="hidden" value="{{login_url}}" />
	</header>

    <article>
    <div id="stations-container">
        <select id="stations">
        </select>                
    </div>

    <dl id="playlist">
    </dl>

    <div id="audio-player" role="main">
        <div id="current">select show to begin playing</div><div id="time">00:00:00 of 00:00:00</div>
        <input type="button" value="Play" id="playpause" onclick="playOrPause()"> 
        <input id="scrubber" value="0" disabled="true" type="range" />            
	    <audio id="main_audio" >Audio</audio>
        <div id="summary"></div>
    </div>
    </article>






	<footer>
        <h1 id="logo">tunr</h1> © Martin Reistadbakk 2011 ✉ <a href="mailto:tunr@skabb.com">Email Me</a>
	</footer>


		
		
	<!-- JS
	================================================== -->
    <script src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/script>")</script>
	<script src="javascripts/script.js"></script>
	

	
<!-- End Document
================================================== -->
</body>
</html>
